.header{
    display:flex;
    height:80px;
}

.headerText{
    align-self: center;
}

.logo{
    width:100px;
}

.headerNote{
    margin:0px;
    color:green;
}


.navBar{
    display:flex;
    background-color: green;
    color:white;
    justify-content:flex-end;
}