.header{
    display:flex;
    border:solid;
    background-color: lightgoldenrodyellow;
    height:80px;
}

.headerText{
    align-self: center;
}

.logo{
    width:100px;
}

.headerNote{
    background-color: green;
}