.header{
    display:flex;
    height:80px;
}

.headerText{
    align-self: center;
}

.logo{
    width:100px;
}

.headerNote{
    margin:0px;
    color:green;
}

.entireHeader{
    border:solid;
    background-color: lightgoldenrodyellow;
    background-color:orangered;
}